body{
    background-color: #383838;
    color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
}

main{
    width: 55%;
    margin: 5vh auto 0 auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

td{
    border: 1px solid #e0e0e0;
    padding: 4px;
}

/* inputs */
table input{
    box-sizing: border-box;
    width: 100%;
}

input[type=reset],
input[type=submit]{
    padding: 10px 20px;
    border-radius: 5px;
    float: right;
    margin: 10px 10px 0px 10px;
}

input[type=reset]{
    border: 3px solid #bd0000;
    color: #e0e0e0;
    background-color: transparent;    
}

input[type=submit]{
    border: 3px solid #bd0000;
    color: #e0e0e0;
    background-color: #bd0000;
    
}

input[type=reset]:hover{
    background-color: #272727;
    border-color: #ac0000;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: #ac0000;
    border-color: #ac0000;
    cursor: pointer;
}

select{
    padding: 10px 20px;
    border-radius: 5px;
}

#wybor_tworzenie{
    float: none;
}

#ilosc_tworzenie{
    padding: 1em 0;
}

#ilosc_tworzenie::placeholder{
    text-align: center;
}


/* nav */

nav{
    display: flex;
    height: 10vh;
    justify-content: space-between;
    background-color: #272727;
}
.links{
    list-style: none;
    display: flex;
    width: 50%;
    padding-left: 0px;
    margin-top: 0px;
    height: 10vh;
}
a{
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#logo{
    width: 50%;
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.button{
    display: none;
}
.links-active{
    transform: translateX(0%);
}
li{
    width: 100%;
    height: 100%;
}
li:hover{
    background-color: rgba(100, 100, 100, 0.9);
}

@media screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    ul{
        position: absolute;
        right: 0px;
        top: 10vh;
        height: 90vh;
        width: 50%;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
    }
    .button{
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-right: 10px;
    }
    .links{
        height: 90vh;
        background-color: rgba(122, 122, 122, 0.9);
    }
    main{
        width: 95%;
    }
}